$hBorder: 25px;
$mBorder: 15px;
$lBorder: 12px;
.app {
  margin: 10rem 0;



  .form-control, .css-yk16xz-control, .css-2b097c-container:hover,
  .css-1pahdxg-control:hover, .css-2b097c-container,
  .css-yk16xz-control:hover, .css-1laaa021-allyText:hover, .nav-pills .nav-link.active, .nav-pills .show > .nav-link,
  .nav-link:hover, .nav-pills .nav-link {
    height: 2.3rem;
    border-radius: $lBorder !important;
  }

  .nav-link {
    transition: none !important;
  }

  .btn {
    height: 2.3rem;
    border-radius: $lBorder;
  }

  code {
    font-size: small;
    font-family: monospace;
  }
}

textarea {
  min-height: 60px !important;
}

.react-datepicker,.modal-content {
  border-radius: $hBorder;
}

.react-datepicker__header:not(.react-datepicker__header--has-time-select) {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.react-datepicker-popper[data-placement^="top"] .react-datepicker__triangle, .react-datepicker__year-read-view--down-arrow, .react-datepicker__month-read-view--down-arrow, .react-datepicker__month-year-read-view--down-arrow, .react-datepicker-popper[data-placement^="top"] .react-datepicker__triangle::before, .react-datepicker__year-read-view--down-arrow::before, .react-datepicker__month-read-view--down-arrow::before, .react-datepicker__month-year-read-view--down-arrow::before{
  margin-right: 15px;
}
.card {
  border-radius: $hBorder!important;
}

.card-body {
  padding: 1.5rem !important;
}
